<div class="bg-custom2 p-2 pt-0" style="background-color:#414361; border-radius: 0px 0px 25px 25px;">
  <hr class="sidebar-divider mt-2 w-100 bg-dark" />
  <div class="d-flex justify-content-between" >
    <button class="m-1 me-3 ms-3 btn-custom1" id="slideLeft">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-caret-left"
        viewBox="0 0 16 16">
        <path
          d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z">
        </path>
      </svg>
    </button>
    <div class="font-custom1 text-nowrap div-custom1 w-100 justify-content-center" id="container">
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-power"
          viewBox="0 0 16 16">
          <path d="M7.5 1v7h1V1h-1z"></path>
          <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z">
          </path>
        </svg>
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/profesors">
        Profesors
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/students">
        Students
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/courses">
        Courses
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/departments">
        Departments
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/subjects">
        Subjects
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/classrooms">
        Classrooms
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/Study_plans">
        Study plans
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/enrollments">
        Enrollments
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/periods">
        Periods
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/programs">
        Programs
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/schedules">
        Schedules
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/meetings">
        Meetings
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/attends">
        Student-Meeting
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/composes">
        Study plans-Subjects
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/registers">
        Enrollments-Courses
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/hires">
        Student-Study plan
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/lodges">
        Course-Classroom
      </a>
      <a class="btn btn-outline-light rounded-pill me-2 ms-2 border border-3" href="/admin/instructs">
        Course-Profesor
      </a>
      
    </div>
    <button class="m-1 me-3 ms-3 btn-custom1" id="slideRight">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-caret-right"
        viewBox="0 0 16 16">
        <path
          d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z">
        </path>
      </svg>
    </button>

  </div>
</div>

{{!-- recordar poner esto con botones y darle el diseño que tenia antes --}}