<div style="background-color: #414361;">
      <div class="container p-5 font-custom1" style="color: white;">
        <h2>About us:</h2>
        <hr class="sidebar-divider mt-2 w-100 bg-dark" />
        <table
          class="table table-borderless font-custom1"
          style="color: white;"
        >
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sthephany Rojas Sabogal</td>
              <td>sthephanyr@uninorte.edu.co</td>
            </tr>
            <tr>
              <td>Jorge E. Salazar Arrieta</td>
              <td>esalazarj@uninorte.edu.co</td>
            </tr>
            <tr>
              <td>Camilo J. Sinning López</td>
              <td>cjsinning@uninorte.edu.co</td>
            </tr>
            <tr>
              <td>Dilan J. Triana Sanchez</td>
              <td>tdilan@uninorte.edu.co</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a
        href="https://icons8.com/icon/iqQhFty9x2yy/document"
        class="p-2"
      >Document icon by Icons8</a>
    </div>